.picturepadding {
  padding-top: 600px;
  width: 70%;
  margin: auto;
}

@media (max-width: 1000px) {
  .picturepadding {
    padding-top: 300px;
    width: 90%;
    margin: auto;
  }

  #hedylamarrpicture {
    background-image: url(../images/hedyfaceweb1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 80%;
    background-color: rgb(255,255,255, 0.5);

}
}
