.hedypicturebox {
  padding-top: 400px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* background-color: #051C26; */
  height: 600px;
  width: 100%;
  text-align: center;
}

#hedyhandsvartbeige {
  background-image: url(../images/hedyhandsvartbeige.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 60%;
  z-index: -1;
}

#hedylamarrquote {
  font-family: River Jade;
  padding-top: 400px;
  font-size: 90px;
  text-align: center;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.hedyquotesmalltext {
  margin-top: -50px;
  font-family: Futura Medium Italic;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 40px;
}

.hedylamarrtext {
  font-family: Futura Thin;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  margin-top: 300px;
}
