.teampicturebox {
  margin-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* background-color: #051C26; */
  height: 400px;
  width: 100%;
  font-family: River Jade;
  text-align: center;
}

#teampicture {
  background-image: url(../images/team123.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 100%;
  z-index: -1;
}

#texthedyteam {
  padding-top: 200px;
  font-size: 90px;
}
