.newpageheading {
  margin-top: 400px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  font-family: Arca Majora3;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
}


.newpageintrotext {
  font-family: Futura Medium Italic;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.teambox {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.picturebox {
  padding-top: 600px;
  margin-top: 10px;
  margin-bottom: 250px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  /* background-color: #051C26; */
  height: 500px;
  width: 50%;
  text-align: center;
}

.headernametext {
  margin-top: 100px;
  width: 100%;
  font-family: Arca Majora3;
  font-size: 25px;
  text-align: center;
  letter-spacing: 5px;
}


.aboutpersontextcenter {
  font-family: Futura Thin;
  text-align: center;
  font-size: 20px;
}

.hashtagstext {
  font-family: Futura Medium Italic;
  text-align: center;
  font-size: 20px;
}

.jointheteam {
  font-family: Arca Majora3;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
  letter-spacing: 5px;
}



#bob {
  background-image: url(../images/bob_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 40%;
  z-index: -1;
}

#emelie {
  background-image: url(../images/emelie_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 60%;
  z-index: -1;
}

#hanna {
  background-image: url(../images/hanna_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 50%;
  z-index: -1;
}

#nicole {
  background-image: url(../images/nicole_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 70%;
  z-index: -1;
}

#oden {
  background-image: url(../images/oden_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 50%;
  z-index: -1;
}

#sara {
  background-image: url(../images/sara_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 50%;
  z-index: -1;
}
