.menuboarddivfotnot {
  background-color: #051C26;
  height: 400px;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.fotnotlogos {
  padding-top: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #051C26;
  height: 200px;
  width: 100%
}

.fotnotcontact {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #051C26;
  height: 200px;
  width: 100%;
  font-family: Futura Medium Italic;
  font-size: 30px;
}

.logobox {
  width: 100px;
  height: 100px;
}

#linkedinlogo {
  background-image: url(../images/linkedin.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 100%;
  z-index: 1;
}

#instagramlogo {
  background-image: url(../images/instagram.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 70%;
  z-index: 1;
}

@media (max-width: 1000px) {


}


@media (min-width: 1000px) {
  .fotnotlogos {
    padding-top: 50px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: #000000;
    height: 100px;
    width: 100%
  }

  .fotnotcontact {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #F1888A;
    height: 200px;
    width: 100%;
    font-family: Futura Medium Italic;
    font-size: 30px;
  }

  .menuboarddivfotnot {
    background-color: #000000;
    height: 200px;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 0px;
  }

  #smallfont {
    font-size: 15px;
    margin: 0;
  }


}
