


#hedylamarrpicture {
  background-image: url(../images/hedyfaceweb1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 50%;
  background-attachment: fixed;
  background-color: #F9EDE4;
  /* z-index: -1; */
}

#hedylamarrtext {
  font-family: River Jade;
  padding-top: 700px;
  font-size: 90px;
  text-align: center;
  margin-top: 0;
}


.hedypicturebox {
  padding-top: 400px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 600px;
  width: 100%;
  text-align: center;
}

#hedylamarrquote {
  font-family: River Jade;
  padding-top: 400px;
  font-size: 90px;
  text-align: center;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.hedyquotesmalltext {
  margin-top: -50px;
  font-family: Futura Medium Italic;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 40px;
}

.hedylamarrtext {
  font-family: Futura Thin;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
  margin-top: 300px;
}
@media (max-width: 1000px) {
  #hedyhandsvartbeige {
    background-image: url(../images/vithand.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 70%;
  }

  .hedydiv {
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }

  .hedybox1 {
    padding-left: 40px;
    width: 100%;
    font-family: Futura Thin;
    justify-content: center;
  }

  .arcamajora {
    font-family: Arca Majora3;
    font-size: 40px;
    letter-spacing: 5px;
  }
  .hedybox {
    margin-right: 0px;
    width: 100%;
    margin-top: 0px;
    height: auto;
    font-family: Futura Thin;
    justify-content: center;
    padding: 80px;
  }

  .margintop {
    text-align: center;
    margin-top: 0px;
    padding-top: 450px;
    height: 600px;
  }

  .hedypicturebox {
    padding-top: 700px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 0px;
    width: 100%;
    text-align: center;
  }

}


@media (min-width: 1000px) {
  .hedypicturebox {
    height: 400px;
    width: 40%;
  }

  .hedypagewebbox {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
  }

  .hedylamarrtext {
    font-family: Futura Thin;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    margin-top: 170px;
    width: 50%;
  }

  .abouttextthinleft {
    width: 50%;
  }

  #hedylamarrquote {
    padding-top: 10px;
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .hedyquotesmalltext {
    margin-top: -20px;
    font-family: Futura Medium Italic;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
  }

  .mobile {
    display: none;
  }

  #hedyhandsvartbeige {
    background-image: url(../images/vithand.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 70%;
  }


  .hedydiv {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
  }

  .hedybox1 {
    padding-left: 40px;
    width: 45%;
    font-family: Futura Thin;
    justify-content: center;
  }

  .hedyboxheader {
    font-family:  Arca Majora3;
    letter-spacing: 5px;
  }

  .hedybox {
    margin-right: 2vw;
    width: 50%;
    font-family: Futura Thin;
    justify-content: center;
    padding: 0px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;

  }

  .margintop {
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
    position: relative;
    top: 20em;
  }




  }
