
.waves{
  position: absolute;
  height: 527px;
  bottom: -135px;
  width: 100%;
}
.container{
  height: 100vh;
  background: linear-gradient(white,white, blue);
  position: relative;
  font-size: 2em;
  display:flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wave{
  width: 2402px;
  height: 427px;
  background: url("https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png") no-repeat center bottom;
  position: absolute;
  animation: wave 5s ease-in-out alternate infinite;
  left: -180px;
  bottom: 0px;
}
.wave.a{
  background-position: 0 -854px;
}
.wave.b{
  animation-delay: 6s;
  background-position: 0 -427px;
}
.wave.c{
  animation-delay: 1.2s;
  background-position: 0 0;
}

@keyframes wave{
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(-80px, 30px);
  }
  100%{
    transform: translate(160px, -60px);
  }
}



.header {
  /* padding-top: 400px; */
  margin-top: 400px;
  margin-bottom: 100px;
  /* margin: auto; */
  height: 500px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
}


.hedylitytechnologytext {
  margin-bottom: 400px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  font-family: Arca Majora3;
  font-size: 20px;
  text-align: center;
  letter-spacing: 5px;
}

.callushedytext {
  margin-top: -30px;
  font-family: River Jade;
  letter-spacing: 0;
  font-size: 80px;
  /* font-size: 50px; */
}

#blackhylogo {
  background-image: url(../images/svarthy.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: 15%;
}


.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 5px;
  animation-delay: 3.5s;
  -moz-animation-delay:3.5s;
  -webkit-animation-delay:3.5s;

  animation:
    typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}


.fadeintext {
  margin-top: 25px;
  animation: fadein 2000ms;
  animation-delay: 3.5s;
  -moz-animation: fadein 2000ms; /* Firefox */
  -moz-animation-delay:3.5s;
  -webkit-animation: fadein 2000ms; /* Safari and Chrome */
  -webkit-animation-delay:3.5s;
  -o-animation: fadein 3200ms; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
  /* z-index: -1; */
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
