.wearehedytextbox {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  font-family: Futura Medium Italic;
  text-align: center;
}

.wearehedytext {
  color: #F9EDE4;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  margin: 0;
  font-size: 40px;
}
