a{
  text-decoration: none;
}


.fadeinclass {
  animation-name: test;
  animation-duration: 5s;
}

@-webkit-keyframes test {
  0% { opacity: 0; }
  50%,100% { opacity: 1; }
}

.fadeinclassfirstpage {
  animation-name: fadeinfirst;
  animation: fadein 2000ms;
  animation-delay: 4s;
  -moz-animation: fadein 2000ms; /* Firefox */
  -moz-animation-delay:4s;
  -webkit-animation: fadein 2000ms; /* Safari and Chrome */
  -webkit-animation-delay:4s;
  -o-animation: fadein 3200ms; /* Opera */
  opacity: 0;
  animation-fill-mode: forwards;
  z-index: -1;
}

@-webkit-keyframes fadeinfirst {
  0% { opacity: 0; }
  50%,100% { opacity: 1; }
}


@font-face {
  font-family: Arca Majora3;
  font-style: normal;
  src:
    local(Arca Majora3),
    local(arcamajora),
    url("./components/fonts/arcamajora.ttf") format("truetype");
}

@font-face {
  font-family: Futura Medium Italic;
  font-style: normal;
  src:
    local(Futura Medium Italic),
    local(futuramediumitalic),
    url("./components/fonts/futuramediumitalic.ttf") format("truetype");
}

@font-face {
  font-family: Futura Thin;
  font-style: normal;
  src:
    local(Futura Thin),
    local(futurathin),
    url("./components/fonts/futurathin.ttf") format("truetype");
}

@font-face {
  font-family: River Jade;
  font-style: normal;
  font-weight: 100;
  src:
    local(River Jade),
    local(riverjade),
    url("./components/fonts/riverjade.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;

}

html {
  font-family: Arca Majora3;
}

body {
  margin: 0;
  /* background-color: #F8ECE4; */
  overflow-x: hidden;
}

.whatwedobox {
  margin-top: 120px;
  margin-bottom: -150px;
  height: 200px;
  width: 100%;
  color: black;
  font-size: 40px;
  text-align: center;
}


.whatwedoheadertext {
  margin-top: 200px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  font-family: Arca Majora3;
  font-size: 30px;
  text-align: center;
  letter-spacing: 5px;
}

.whatwedosmalltext {
  font-family: Futura Medium Italic;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.whatwedosmalltextcenter {
  font-family: Futura Medium Italic;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.whatwedosmalltextjustify {
  font-family: Futura Medium Italic;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.hedytexttiltacademy {
  transform: rotate(-10deg);
  text-align: left;
  padding-left: 250px;
  font-family: River Jade;
  margin-bottom: -210px;
  letter-spacing: 0;
  color: #FE7E83;
  font-size: 100px;
}

.hedytexttiltinnovation {
  transform: rotate(-10deg);
  text-align: left;
  padding-left: 60px;
  font-family: River Jade;
  margin-bottom: -180px;
  letter-spacing: 0;
  color: #FE7E83;
  font-size: 100px;
}

.hedytexttiltservices {
  transform: rotate(-10deg);
  text-align: left;
  padding-left: 260px;
  font-family: River Jade;
  margin-bottom: -210px;
  letter-spacing: 0;
  color: #FE7E83;
  font-size: 100px;
}

mark.pink {
    color:#FE7E83;
    background: none;
}

.pagemargin {
  margin-top: 400px;
}

.pagemarginweb {
  margin-top: 200px;
}

mark.italic {
  font-family: Futura Medium Italic;
  background: none;
}




@media (min-width: 1000px) {
  .menuboarddiv {
    /* display: none; */
  }

  .header {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 600px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
  }

  #blackhylogo {
    background-image: url(./components/images/svarthy.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-size: 10%;
  }

  .hedylitytechnologytext {
    margin-bottom: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    font-family: Arca Majora3;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
  }


  .whatwedobox {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
    height: 200px;
    width: 100%;
    color: black;
    font-size: 40px;
    text-align: center;
    background-color: white;
    z-index: 10000;
  }



  .individualareabox {
    width: 25%;
    height: auto;
  }

  .whatwedoheadertext {
    margin-top: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    font-family: Arca Majora3;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
  }

  .whatwedosmalltext {
    font-family: Futura Medium Italic;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 20px;
    margin-top: 220px;
  }


  .circledivsmall {
    background-color: #FE7E83;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: -150px;
    margin-left: 200px;
  }

  .circledivmedium {
    background-color: #FE7E83;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: -150px;
    margin-left: 200px;
  }


  .circledivlargebox {
    width: 100%;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: -597px;
  }

  .rectangulardivlarge {
    height: 100px;
    width: 0px;
    border-radius: 0;
    animation-name: animate-bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes animate-bg {
    0% {
      background-color: white;
      width: 0px;
      height: 100px;
      /* border-radius: 0; */
    }

    50% {
      background-color: #FE7E83;
      width: 100%;
      height: 100px;
      /* border-radius: 50%; */
    }
  }

  .rectangulardivlarge2 {
    background-color: #FE7E83;
    height: 200px;
    width: 50px;
    border-radius: 0;
    transition: background 2s ease-in-out,
    width 4s ease-in,
    height 1s linear;

  }

  .rectangulardivlarge2:hover {
    height: 200px;
    width: 800px;
    border-radius: 0;

  }








}
